In [1]:
import sys
sys.path.append("../")
from mir.common import parser, SegmentLibrary, Repertoire
from mir.basic import DiversityIndices, RarefactionCurve
import pandas as pd

In [2]:
metadata = pd.read_table('assets/samples/aging_3year/metadata.txt', sep='\t')
metadata

          file.name   donor  age
0  A6-I200ob.txt.gz  donor1   27
1  A6-I201ob.txt.gz  donor1   30
2  A6-I202ob.txt.gz  donor2   47
3     A5-S23.txt.gz  donor2   50

In [3]:
lib = SegmentLibrary()

def load_dataset(row): #TODO load parallel
    return Repertoire(parser.parse_vdjtools('assets/samples/aging_3year/' + row['file.name'], 
                                     lib=lib),
               metadata={('id', row['donor']), 
                         ('age', row['age'])})

datasets = [load_dataset(row) for _, row in metadata.iterrows()]

In [4]:
print(datasets[0].frequency_table())
print(DiversityIndices(datasets[0].frequency_table()))
print(RarefactionCurve(datasets[0].frequency_table()))

Frequency table of 1812062 species and 6943910 individuals:
s1=1030393
s2=410225
s3=173924
s4+=197520

Diversity indices for 1812062 species and 6943910 individuals:
Obs=1812062
OPM=260957.01125158594
H=10.677371582051762
Hpielou=0.7409708104914129
Chao=3106116.6606602212
Hill=[HillCurvePoint(q=0.005, H_q=1804090.0335481064), HillCurvePoint(q=0.01, H_q=1796093.3749716312), HillCurvePoint(q=0.05, H_q=1731216.9306170254), HillCurvePoint(q=0.1, H_q=1647795.8170080348), HillCurvePoint(q=0.5, H_q=878587.9503284262), HillCurvePoint(q=1.0, H_q=43363.42323100516), HillCurvePoint(q=2.0, H_q=123.75006479012457), HillCurvePoint(q=10.0, H_q=21.666522972644113), HillCurvePoint(q=20.0, H_q=18.447124070772265), HillCurvePoint(q=100.0, H_q=16.397652985197453), HillCurvePoint(q=200.0, H_q=16.16878033347137)]
Rarefaction curve=[RarefactionPoint(count_star=0, species=0.0, var_species=0.0, interp=True), RarefactionPoint(count_star=100, species=84.27660320857154, var_species=8.167159430532298, interp=True), RarefactionPoint(count_star=200, species=160.3848354224316, var_species=14.413043270494803, interp=True), RarefactionPoint(count_star=300, species=234.08613669646732, var_species=20.09406460279736, interp=True), RarefactionPoint(count_star=400, species=306.35247677904067, var_species=25.456191012326972, interp=True), RarefactionPoint(count_star=500, species=377.6012727751401, var_species=30.561623343084634, interp=True), RarefactionPoint(count_star=600, species=448.06965745227063, var_species=35.45181105710046, interp=True), RarefactionPoint(count_star=700, species=517.9115202116482, var_species=40.16568887534542, interp=True), RarefactionPoint(count_star=800, species=587.2344673169201, var_species=44.73881550315628, interp=True), RarefactionPoint(count_star=900, species=656.1173005516323, var_species=49.20161875985866, interp=True)]

In [5]:
pd.DataFrame([dict(ds.metadata) | DiversityIndices(ds.frequency_table()).as_dict() for ds in datasets])

,age,id,depth,obs,opm,shannon,pielou,chao
0,27,donor1,6943910,1812062,260957.011252,10.677372,0.740971,3.106117e+06
1,30,donor1,1526650,758985,497157.174205,11.596713,0.856495,2.435931e+06
2,47,donor2,5927514,954170,160973.048735,9.005132,0.654034,1.615412e+06
3,50,donor2,517858,137624,265756.249783,7.579462,0.640575,5.310692e+05