In [1]:
import sys
sys.path.append("../")

In [2]:
from mir.common.parser import *

In [3]:
from mir.common.repertoire import Repertoire
from mir.common.repertoire_dataset import RepertoireDataset
from mir.basic.segment_usage import *
from mir.basic.sampling import RepertoireSampling
import time

In [13]:
pd.read_csv('/projects/fmba_covid/publication/fmba/640002370808_S80_L001.clonotypes.TRA.txt')

,count,freq,cdr3nt,cdr3aa,v,d,j,VEnd,DStart,DEnd,JStart
0,12407,8.061524e-03,cdr3nt_0,CGPQR_PLVF,TRAV30,.,TRAJ29,5,-1,-1,15
1,12078,7.847754e-03,cdr3nt_1,CVVSDPSGAGSYQLTF,TRAV10,.,TRAJ28,12,-1,-1,21
2,4793,3.114281e-03,cdr3nt_2,CAVRRYW_GFKTIF,TRAV21,.,TRAJ9,12,-1,-1,15
3,4790,3.112332e-03,cdr3nt_3,CIVMDDMRF,TRAV26-1,.,TRAJ43,7,-1,-1,13
4,3108,2.019442e-03,cdr3nt_4,CAVKGNTGNQFYF,TRAV12-2,.,TRAJ49,10,-1,-1,14
...,...,...,...,...,...,...,...,...,...,...,...
72541,1,6.497561e-07,cdr3nt_72541,CAARF,TRAV23DV6,.,TRAJ53,10,-1,-1,12
72542,1,6.497561e-07,cdr3nt_72542,CA_GF,TRAV12-2,.,TRAJ27,6,-1,-1,11
72543,1,6.497561e-07,cdr3nt_72543,CA_DF,TRAV8-6,.,TRAJ58,9,-1,-1,10
72544,1,6.497561e-07,cdr3nt_72544,WG_IF,TRAV38-2DV8,.,TRAJ50,1,-1,-1,4
72545,1,6.497561e-07,cdr3nt_72545,WT_TF,TRAV27,.,TRAJ48,1,-1,-1,8

In [14]:
pd.read_csv('/projects/fmba_covid/publication/fmba/640002370808_S80_L001.clonotypes.TRA.txt')['count'].sum()

1539039

In [16]:
pd.read_csv('/projects/fmba_covid/publication/fmba/640002370808_S80_L001.clonotypes.TRA.txt')['freq'].sum()

0.9999999999999765

In [4]:
from sklearn.manifold import TSNE

In [8]:
metadata = pd.read_csv('/projects/fmba_covid/metadata_fmba_full.txt', sep='\t')
metadata

,id,sample.age,sample.sex,sample.height(cm),sample.weight(kg),sample.waist(cm),sample.diastolicBloodPressure(mmHg),sample.bodyTemperature,sample.pulse(beats/min),sample.oxygenLevel(%),...,sample.HLA-DQB1.1,sample.HLA-DQB1.2,sample.HLA-DRB1.1,sample.HLA-DRB1.2,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53
0,20000010808,70,female,150.0,62.0,97.0,80,36.6,67,96.0,...,DQB1*03:01,DQB1*05:02,DRB1*11:04,DRB1*16:01,NaN,NaN,NaN,NaN,NaN,NaN
1,20000110808,42,male,174.0,90.0,95.0,90,36.6,97,99.0,...,DQB1*05:01,DQB1*06:02,DRB1*01:01,DRB1*15:01,NaN,NaN,NaN,NaN,NaN,NaN
2,20000190808,23,male,191.0,77.0,85.0,80,36.6,74,98.0,...,DQB1*02:02,DQB1*06:01,DRB1*07:01,DRB1*15:02,NaN,NaN,NaN,NaN,NaN,NaN
3,20000200808,19,male,187.0,105.0,97.0,80,36.6,74,99.0,...,DQB1*03:02,DQB1*05:01,DRB1*01:01,DRB1*04:04,NaN,NaN,NaN,NaN,NaN,NaN
4,20000280808,69,female,160.0,85.0,90.0,90,36.6,68,95.0,...,DQB1*03:01,DQB1*05:01,DRB1*01:03,DRB1*13:03,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1245,780008550808,37,male,196.0,84.0,98.0,80,35.7,60,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1246,910000140808,12,male,158.0,44.0,64.0,65,36.5,84,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1247,910000320808,2,female,98.0,16.0,48.0,50,36.2,108,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1248,910002290808,43,female,170.0,80.0,86.0,80,36.6,80,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1249,910003810808,56,female,165.0,95.0,93.0,90,36.6,75,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
metadata.columns

Index(['id', 'sample.age', 'sample.sex', 'sample.height(cm)',
       'sample.weight(kg)', 'sample.waist(cm)',
       'sample.diastolicBloodPressure(mmHg)', 'sample.bodyTemperature',
       'sample.pulse(beats/min)', 'sample.oxygenLevel(%)',
       'sample.erythrocytes(10*12/l)', 'sample.hemoglobinCount(g/l)',
       'sample.hematocrit(%)', 'sample.plateletCount(10*9/l)',
       'sample.reticulocyteCount(10*9/l)', 'sample.WBC(10*9/l)',
       'sample.ESR(mm/h)', 'sample.serumTotalProtein(g/l)',
       'sample.hemoglobin(g/l)', 'sample.COVID_PCR', 'sample.bloodType',
       'sample.RhFactor', 'sample.COVID_IgM', 'sample.COVID_IgG',
       'sample.COVID_status', 'sample.neutrophil(10*9/l)',
       'sample.lymphocytes(10*9/l)', 'sample.monocyte(10*9/l)',
       'sample.eosinophils(10*9/l)', 'sample.basophil(10*9/l)', 'sample.NLR',
       'sample.neutrophilFraction', 'sample.lymphocytesFraction',
       'sample.monocyteFraction', 'sample.eosinophilsFraction',
       'sample.basophilFraction', 'sample.HLA-A.1', 'sample.HLA-A.2',
       'sample.HLA-B.1', 'sample.HLA-B.2', 'sample.HLA-C.1', 'sample.HLA-C.2',
       'sample.HLA-DPB1.1', 'sample.HLA-DPB1.2', 'sample.HLA-DQB1.1',
       'sample.HLA-DQB1.2', 'sample.HLA-DRB1.1', 'sample.HLA-DRB1.2',
       'Unnamed: 48', 'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51',
       'Unnamed: 52', 'Unnamed: 53'],
      dtype='object')

In [11]:
metadata[metadata['sample.COVID_status'] == 'healthy']

,id,sample.age,sample.sex,sample.height(cm),sample.weight(kg),sample.waist(cm),sample.diastolicBloodPressure(mmHg),sample.bodyTemperature,sample.pulse(beats/min),sample.oxygenLevel(%),...,sample.HLA-DQB1.1,sample.HLA-DQB1.2,sample.HLA-DRB1.1,sample.HLA-DRB1.2,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53
3,20000200808,19,male,187.0,105.0,97.0,80,36.6,74,99.0,...,DQB1*03:02,DQB1*05:01,DRB1*01:01,DRB1*04:04,NaN,NaN,NaN,NaN,NaN,NaN
5,20000330808,34,male,181.0,65.0,74.0,70,36.6,56,97.0,...,DQB1*03:01,DQB1*06:01,DRB1*08:03,DRB1*11:01,NaN,NaN,NaN,NaN,NaN,NaN
7,20000350808,54,female,159.0,86.0,96.0,90,36.3,60,98.0,...,DQB1*02:02,DQB1*02:02,DRB1*07:01,DRB1*07:01,NaN,NaN,NaN,NaN,NaN,NaN
8,20000360808,30,male,186.0,86.0,89.0,80,36.4,80,97.0,...,DQB1*02:01,DQB1*02:01,DRB1*03:01,DRB1*07:01,NaN,NaN,NaN,NaN,NaN,NaN
10,20000390808,33,female,157.0,65.0,77.0,60,36.6,72,97.0,...,DQB1*02:01,DQB1*03:01,DRB1*03:01,DRB1*12:02,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1162,780004090808,34,female,164.0,58.0,61.0,70,36.6,74,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1163,780004310808,51,female,169.0,61.0,68.0,76,36.3,70,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1164,780004320808,36,male,176.0,63.0,72.0,80,36.6,80,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1183,780004880808,47,male,175.0,75.0,83.0,80,36.4,67,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1208,780005190808,40,female,162.0,57.0,68.0,80,36.3,68,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
t0 = time.time()
dataset = RepertoireDataset.load(parser=VDJtoolsParser(sep=','), 
                                 metadata=metadata[metadata['sample.COVID_status'] == 'healthy'],
                                 threads=28,
                                 paths=['/projects/covid_fmba/...' + r['run'] + '.gz'
                                        for _, r in metadata.iterrows()])
print(time.time() - t0)

1444976
131.62847566604614

In [7]:
dataset.metadata

,sequencingDate,folder,R1,R2,name,COVID_status,projectName,COVID_IgG,COVID_IgM,COVID_PCR,...,HLA-DRB1.1,HLA-DRB1.2,id,subsequent_sequencing,HLA-DRB4.1,HLA-DRB3.1,HLA-DRB5.1,gene,run,path
0,2020 10 19,2020/10_FMBA_NovaSeq6,770101520808_S102_L002_R1_001.fastq.gz,770101520808_S102_L002_R2_001.fastq.gz,770101520808,healthy,FMBA_DNA,no,no,negative,...,DRB1*11:04,DRB1*15:01,770101520,NaN,NaN,NaN,NaN,NaN,770101520808_S102_L002.clonotypes.TRB.txt,assets/samples/fmba_healthy/770101520808_S102_...
1,2020 10 19,2020/10_FMBA_NovaSeq6,500001210807_S66_L001_R1_001.fastq.gz,500001210807_S66_L001_R2_001.fastq.gz,500001210807,healthy,FMBA_DNA,no,no,negative,...,DRB1*07:01,DRB1*08:01,500001210,NaN,NaN,NaN,NaN,NaN,500001210807_S66_L001.clonotypes.TRB.txt,assets/samples/fmba_healthy/500001210807_S66_L...
2,2020 10 19,2020/10_FMBA_NovaSeq6,500002190807_S8_L001_R1_001.fastq.gz,500002190807_S8_L001_R2_001.fastq.gz,500002190807,healthy,FMBA_DNA,no,no,negative,...,DRB1*07:01,DRB1*08:01,500002190,NaN,NaN,NaN,NaN,NaN,500002190807_S8_L001.clonotypes.TRB.txt,assets/samples/fmba_healthy/500002190807_S8_L0...
3,2020 10 19,2020/10_FMBA_NovaSeq4,780003510808_S92_L001_R1_001.fastq.gz,780003510808_S92_L001_R2_001.fastq.gz,780003510808,healthy,FMBA_DNA,no,no,negative,...,DRB1*07:01,DRB1*07:01,780003510,NaN,NaN,NaN,NaN,NaN,780003510808_S92_L001.clonotypes.TRB.txt,assets/samples/fmba_healthy/780003510808_S92_L...
4,2020 10 19,2020/10_FMBA_NovaSeq4,550001610808_S148_L002_R1_001.fastq.gz,550001610808_S148_L002_R2_001.fastq.gz,550001610808,healthy,FMBA_DNA,no,no,negative,...,DRB1*01:01,DRB1*11:04,550001610,NaN,NaN,NaN,NaN,NaN,550001610808_S148_L002.clonotypes.TRB.txt,assets/samples/fmba_healthy/550001610808_S148_...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2020 10 19,2020/10_FMBA_NovaSeq5,270000140808_S174_L002_R1_001.fastq.gz,270000140808_S174_L002_R2_001.fastq.gz,270000140808,healthy,FMBA_DNA,no,no,negative,...,DRB1*16:01,DRB1*16:01,270000140,NaN,NaN,NaN,NaN,NaN,270000140808_S174_L002.clonotypes.TRB.txt,assets/samples/fmba_healthy/270000140808_S174_...
96,2020 10 19,2020/10_FMBA_NovaSeq5,500001400808_S155_L002_R1_001.fastq.gz,500001400808_S155_L002_R2_001.fastq.gz,500001400808,healthy,FMBA_DNA,no,no,negative,...,DRB1*07:01,DRB1*15:02,500001400,NaN,NaN,NaN,NaN,NaN,500001400808_S155_L002.clonotypes.TRB.txt,assets/samples/fmba_healthy/500001400808_S155_...
97,2020 10 19,2020/10_FMBA_NovaSeq6,780004000807_S5_L001_R1_001.fastq.gz,780004000807_S5_L001_R2_001.fastq.gz,780004000807,healthy,FMBA_DNA,no,no,negative,...,DRB1*01:01,DRB1*04:01,780004000,NaN,NaN,NaN,NaN,NaN,780004000807_S5_L001.clonotypes.TRB.txt,assets/samples/fmba_healthy/780004000807_S5_L0...
98,2020 10 19,2020/10_FMBA_NovaSeq4,550001850808_S122_L002_R1_001.fastq.gz,550001850808_S122_L002_R2_001.fastq.gz,550001850808,healthy,FMBA_DNA,no,no,negative,...,DRB1*01:01,DRB1*04:01,550001850,NaN,NaN,NaN,NaN,NaN,550001850808_S122_L002.clonotypes.TRB.txt,assets/samples/fmba_healthy/550001850808_S122_...
99,2020 10 19,2020/10_FMBA_NovaSeq5,330000350808_S164_L002_R1_001.fastq.gz,330000350808_S164_L002_R2_001.fastq.gz,330000350808,healthy,FMBA_DNA,no,no,negative,...,DRB1*01:01,DRB1*15:01,330000350,NaN,NaN,NaN,NaN,NaN,330000350808_S164_L002.clonotypes.TRB.txt,assets/samples/fmba_healthy/330000350808_S164_...

In [8]:
dataset.evaluate_segment_usage()

,TRBJ2-1*01,TRBJ1-3*01,TRBV11-3*01,TRBV7-3*01,TRBV12-2*01,TRBJ2-6*01,TRBJ1-5*01,TRBV15*01,TRBV27*01,TRBV7-7*01,...,TRBJ1-2*01,TRBJ2-7*01,TRBV5-1*01,TRBV12-3*01,TRBV2*01,TRBV14*01,TRBV6-3*01,TRBV6-9*01,TRBJ2-2P*01,TRBJ2-2*01
0,2716,999,191,393,50,404,2080,114,837,94,...,2693,2195,1381,841,825,298,1,10,0,1558
1,1334,255,62,117,9,160,522,5,286,27,...,670,666,303,307,171,122,0,11,0,586
2,1708,329,122,185,25,214,754,17,364,47,...,1210,1360,515,540,397,147,1,15,0,755
3,543,120,49,69,8,84,269,10,112,19,...,398,379,174,172,114,71,0,8,0,262
4,3454,808,226,539,71,444,1640,33,664,114,...,2523,2181,1166,986,837,250,0,26,1,1620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4060,908,293,452,69,441,2113,45,1047,119,...,2435,2423,1600,863,1007,374,1,17,0,1902
96,876,154,34,36,13,116,390,10,221,21,...,506,366,332,229,239,88,0,5,0,449
97,1022,453,262,144,21,213,893,21,423,27,...,1645,1752,431,469,232,135,0,5,0,362
98,2102,382,136,330,29,283,943,20,539,52,...,1039,1234,629,459,279,138,1,6,1,927
99,671,416,108,155,30,319,950,15,433,46,...,1142,2915,257,432,254,114,0,7,0,198

In [9]:
folder_to_run_mapping = {}
for folder in dataset.metadata[['run', 'folder']].folder.unique():
    folder_to_run_mapping[folder] = set(dataset.metadata[dataset.metadata.folder == folder].run)

In [10]:
norm_usage_table_v = NormalizedSegmentUsageTable.load_from_repertoire_dataset(repertoire_dataset=dataset, gene='TRB', segment_type='V')
norm_usage_table_j = NormalizedSegmentUsageTable.load_from_repertoire_dataset(repertoire_dataset=dataset, gene='TRB', segment_type='J')

z_score_usage_table_v = StandardizedSegmentUsageTable.load_from_repertoire_dataset(repertoire_dataset=dataset, gene='TRB', segment_type='V', group_mapping=folder_to_run_mapping, standardization_method='log_exp')
z_score_usage_table_j = StandardizedSegmentUsageTable.load_from_repertoire_dataset(repertoire_dataset=dataset, gene='TRB', segment_type='J', group_mapping=folder_to_run_mapping, standardization_method='log_exp')

In [11]:
dataset[0].number_of_reads

7823059

In [12]:
norm_usage_table_v

    TRBV11-3*01  TRBV7-3*01  TRBV12-2*01  TRBV15*01  TRBV27*01  TRBV7-7*01  \
0      0.008248    0.016971     0.002159   0.004923   0.036145    0.004059
1      0.008430    0.015908     0.001224   0.000680   0.038885    0.003671
2      0.011086    0.016811     0.002272   0.001545   0.033076    0.004271
3      0.013443    0.018930     0.002195   0.002743   0.030727    0.005213
4      0.010134    0.024169     0.003184   0.001480   0.029774    0.005112
..          ...         ...          ...        ...        ...         ...
95     0.011301    0.017433     0.002661   0.001736   0.040381    0.004590
96     0.006522    0.006906     0.002494   0.001918   0.042394    0.004028
97     0.026486    0.014557     0.002123   0.002123   0.042762    0.002729
98     0.011498    0.027900     0.002452   0.001691   0.045570    0.004396
99     0.011448    0.016430     0.003180   0.001590   0.045898    0.004876

    TRBV4-3*01  TRBV5-8*01  TRBV7-5*01  TRBV10-1*01  ...  TRBV7-4*01  \
0     0.010753    0.007125    0.001555     0.006737  ...    0.001425
1     0.040109    0.005438    0.000272     0.007886  ...    0.001768
2     0.015084    0.007179    0.001181     0.007542  ...    0.001999
3     0.029081    0.006859    0.000823     0.009602  ...    0.002743
4     0.013183    0.005605    0.001300     0.009148  ...    0.001390
..         ...         ...         ...          ...  ...         ...
95    0.000347    0.005862    0.000694     0.011031  ...    0.001620
96    0.000192    0.005371    0.001343     0.009783  ...    0.003069
97    0.033562    0.006672    0.000607     0.009402  ...    0.001617
98    0.000254    0.004312    0.001522     0.013189  ...    0.001522
99    0.010494    0.002862    0.001908     0.012402  ...    0.001060

    TRBV30*01  TRBV6-5*01  TRBV10-3*01  TRBV5-1*01  TRBV12-3*01  TRBV2*01  \
0    0.014596    0.035367     0.015330    0.059636     0.036317  0.035626
1    0.028688    0.046635     0.015772    0.041196     0.041740  0.023249
2    0.028442    0.047615     0.017265    0.046797     0.049069  0.036075
3    0.016187    0.042250     0.013992    0.047737     0.047188  0.031276
4    0.030761    0.037577     0.017174    0.052285     0.044213  0.037532
..        ...         ...          ...         ...          ...       ...
95   0.015080    0.043467     0.016122    0.061709     0.033284  0.038838
96   0.010359    0.043545     0.017265    0.063687     0.043929  0.045847
97   0.033259    0.031945     0.019005    0.043571     0.047412  0.023453
98   0.029084    0.038553     0.015218    0.053179     0.038806  0.023588
99   0.032330    0.048972     0.018338    0.027242     0.045792  0.026924

    TRBV14*01  TRBV6-3*01  TRBV6-9*01
0    0.012869    0.000043    0.000432
1    0.016587    0.000000    0.001496
2    0.013358    0.000091    0.001363
3    0.019479    0.000000    0.002195
4    0.011210    0.000000    0.001166
..        ...         ...         ...
95   0.014425    0.000039    0.000656
96   0.016881    0.000000    0.000959
97   0.013647    0.000000    0.000505
98   0.011667    0.000085    0.000507
99   0.012084    0.000000    0.000742

[100 rows x 58 columns]

## Sampling reads from the repertoire, not changing the gene usage distribution

In [13]:
sampled_repertoire = RepertoireSampling().sample(repertoire=dataset[0], old_usage_matrix=[norm_usage_table_v, norm_usage_table_j], new_usage_matrix=None, n=100000)

In [14]:
sampled_repertoire

Repertoire of 14942 clonotypes and 100000 cells:
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASSFWTGQLNTEAFF cdr3nt_0
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASSSPG_CQPQHF cdr3nt_1
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASSPDSQSSGNTIYF cdr3nt_2
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASSVVGAQSGANVLTF cdr3nt_3
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASSYSESEAFF cdr3nt_4
sequencingDate                                                  2020 10 19
folder                                               2020/10_FMBA_NovaSeq6
R1                                  770101520808_S102_L002_R1_001.fastq.gz
R2                                  770101520808_S102_L002_R2_001.fastq.gz
name                                                          770101520808
COVID_status                                                       healthy
projectName                                                       FMBA_DNA
COVID_IgG                                                               no
COVID_IgM                                                               no
COVID_PCR                                                         negative
HLA-A.1                                                            A*02:01
HLA-A.2                                                            A*02:01
HLA-B.1                                                            B*18:01
HLA-B.2                                                            B*40:01
HLA-C.1                                                            C*03:04
HLA-C.2                                                            C*07:01
HLA-DPB1.1                                                      DPB1*04:01
HLA-DPB1.2                                                      DPB1*04:02
HLA-DQB1.1                                                      DQB1*03:01
HLA-DQB1.2                                                      DQB1*06:02
HLA-DRB1.1                                                      DRB1*11:04
HLA-DRB1.2                                                      DRB1*15:01
id                                                               770101520
subsequent_sequencing                                                  NaN
HLA-DRB4.1                                                             NaN
HLA-DRB3.1                                                             NaN
HLA-DRB5.1                                                             NaN
gene                                                                   NaN
run                              770101520808_S102_L002.clonotypes.TRB.txt
path                     assets/samples/fmba_healthy/770101520808_S102_...
Name: 0, dtype: object
...

## Resampling the repertoire using the new derived usages for V and J genes

In [15]:
dataset[0]

Repertoire of 23157 clonotypes and 7823059 cells:
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASSFWTGQLNTEAFF cdr3nt_0
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASSSPG_CQPQHF cdr3nt_1
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASSPDSQSSGNTIYF cdr3nt_2
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASSVVGAQSGANVLTF cdr3nt_3
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASSYSESEAFF cdr3nt_4
sequencingDate                                                  2020 10 19
folder                                               2020/10_FMBA_NovaSeq6
R1                                  770101520808_S102_L002_R1_001.fastq.gz
R2                                  770101520808_S102_L002_R2_001.fastq.gz
name                                                          770101520808
COVID_status                                                       healthy
projectName                                                       FMBA_DNA
COVID_IgG                                                               no
COVID_IgM                                                               no
COVID_PCR                                                         negative
HLA-A.1                                                            A*02:01
HLA-A.2                                                            A*02:01
HLA-B.1                                                            B*18:01
HLA-B.2                                                            B*40:01
HLA-C.1                                                            C*03:04
HLA-C.2                                                            C*07:01
HLA-DPB1.1                                                      DPB1*04:01
HLA-DPB1.2                                                      DPB1*04:02
HLA-DQB1.1                                                      DQB1*03:01
HLA-DQB1.2                                                      DQB1*06:02
HLA-DRB1.1                                                      DRB1*11:04
HLA-DRB1.2                                                      DRB1*15:01
id                                                               770101520
subsequent_sequencing                                                  NaN
HLA-DRB4.1                                                             NaN
HLA-DRB3.1                                                             NaN
HLA-DRB5.1                                                             NaN
gene                                                                   NaN
run                              770101520808_S102_L002.clonotypes.TRB.txt
path                     assets/samples/fmba_healthy/770101520808_S102_...
Name: 0, dtype: object
...

In [16]:
t0 = time.time()
resampled_repertoire = RepertoireSampling().sample(repertoire=dataset[0], old_usage_matrix=[norm_usage_table_v, norm_usage_table_j], new_usage_matrix=[z_score_usage_table_v, z_score_usage_table_j])
print(time.time() - t0)

4.897488832473755

In [17]:
resampled_repertoire

Repertoire of 22056 clonotypes and 7823059 cells:
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASSFWTGQLNTEAFF cdr3nt_0
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASSSPG_CQPQHF cdr3nt_1
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASSVVGAQSGANVLTF cdr3nt_3
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CAISDPGGNSPLHF cdr3nt_8
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASSYSKATRR_GNLSGANVLTF cdr3nt_5
sequencingDate                                                  2020 10 19
folder                                               2020/10_FMBA_NovaSeq6
R1                                  770101520808_S102_L002_R1_001.fastq.gz
R2                                  770101520808_S102_L002_R2_001.fastq.gz
name                                                          770101520808
COVID_status                                                       healthy
projectName                                                       FMBA_DNA
COVID_IgG                                                               no
COVID_IgM                                                               no
COVID_PCR                                                         negative
HLA-A.1                                                            A*02:01
HLA-A.2                                                            A*02:01
HLA-B.1                                                            B*18:01
HLA-B.2                                                            B*40:01
HLA-C.1                                                            C*03:04
HLA-C.2                                                            C*07:01
HLA-DPB1.1                                                      DPB1*04:01
HLA-DPB1.2                                                      DPB1*04:02
HLA-DQB1.1                                                      DQB1*03:01
HLA-DQB1.2                                                      DQB1*06:02
HLA-DRB1.1                                                      DRB1*11:04
HLA-DRB1.2                                                      DRB1*15:01
id                                                               770101520
subsequent_sequencing                                                  NaN
HLA-DRB4.1                                                             NaN
HLA-DRB3.1                                                             NaN
HLA-DRB5.1                                                             NaN
gene                                                                   NaN
run                              770101520808_S102_L002.clonotypes.TRB.txt
path                     assets/samples/fmba_healthy/770101520808_S102_...
Name: 0, dtype: object
...

## Resampling all the reperoires from a dataset

In [18]:
t0 = time.time()
resampled_dataset = dataset.resample(updated_segment_usage_tables=[z_score_usage_table_v, z_score_usage_table_j], threads=28)
print(time.time() - t0)

1361533
153.08800864219666

In [19]:
dataset[14]

Repertoire of 7433 clonotypes and 3957727 cells:
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASRGGTGGPQETQYF cdr3nt_0
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASSYRRPSSGNTIYF cdr3nt_1
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASSLGGQGNGELFF cdr3nt_2
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASSYSPGDNYEQYF cdr3nt_3
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASSSANYGYTF cdr3nt_4
sequencingDate                                                  2020 12 18
folder                                           2020/12_FMBA_Novaseq8_DNA
R1                                   690000430101_S61_L001_R1_001.fastq.gz
R2                                   690000430101_S61_L001_R2_001.fastq.gz
name                                                        690000430101_2
COVID_status                                                       healthy
projectName                                                       FMBA_DNA
COVID_IgG                                                               no
COVID_IgM                                                               no
COVID_PCR                                                         negative
HLA-A.1                                                            A*02:01
HLA-A.2                                                            A*24:02
HLA-B.1                                                            B*18:01
HLA-B.2                                                            B*41:02
HLA-C.1                                                            C*07:01
HLA-C.2                                                            C*17:03
HLA-DPB1.1                                                      DPB1*04:01
HLA-DPB1.2                                                     DPB1*104:01
HLA-DQB1.1                                                      DQB1*03:01
HLA-DQB1.2                                                      DQB1*03:01
HLA-DRB1.1                                                      DRB1*11:04
HLA-DRB1.2                                                      DRB1*13:03
id                                                               690000430
subsequent_sequencing                                                  yes
HLA-DRB4.1                                                             NaN
HLA-DRB3.1                                                             NaN
HLA-DRB5.1                                                             NaN
gene                                                                   NaN
run                               690000430101_S61_L001.clonotypes.TRB.txt
path                     assets/samples/fmba_healthy/690000430101_S61_L...
Name: 14, dtype: object
...

In [20]:
resampled_dataset[14]

Repertoire of 7006 clonotypes and 3957727 cells:
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASSYPGQ_CTGELFF cdr3nt_258
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CATRGNTEAFF cdr3nt_5
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASRGGTGGPQETQYF cdr3nt_0
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASSYCAGWGTDTQYF cdr3nt_368
κIndex(['count', 'freq', 'cdr3nt', 'cdr3aa', 'v', 'd', 'j', 'VEnd', 'DStart',
       'DEnd', 'JStart'],
      dtype='object') CASSSGTGSGNTIYF cdr3nt_779
sequencingDate                                                  2020 12 18
folder                                           2020/12_FMBA_Novaseq8_DNA
R1                                   690000430101_S61_L001_R1_001.fastq.gz
R2                                   690000430101_S61_L001_R2_001.fastq.gz
name                                                        690000430101_2
COVID_status                                                       healthy
projectName                                                       FMBA_DNA
COVID_IgG                                                               no
COVID_IgM                                                               no
COVID_PCR                                                         negative
HLA-A.1                                                            A*02:01
HLA-A.2                                                            A*24:02
HLA-B.1                                                            B*18:01
HLA-B.2                                                            B*41:02
HLA-C.1                                                            C*07:01
HLA-C.2                                                            C*17:03
HLA-DPB1.1                                                      DPB1*04:01
HLA-DPB1.2                                                     DPB1*104:01
HLA-DQB1.1                                                      DQB1*03:01
HLA-DQB1.2                                                      DQB1*03:01
HLA-DRB1.1                                                      DRB1*11:04
HLA-DRB1.2                                                      DRB1*13:03
id                                                               690000430
subsequent_sequencing                                                  yes
HLA-DRB4.1                                                             NaN
HLA-DRB3.1                                                             NaN
HLA-DRB5.1                                                             NaN
gene                                                                   NaN
run                               690000430101_S61_L001.clonotypes.TRB.txt
path                     assets/samples/fmba_healthy/690000430101_S61_L...
Name: 14, dtype: object
...

In [33]:
trbv_matrix = NormalizedSegmentUsageTable.load_from_repertoire_dataset(
    resampled_dataset, gene='TRB', segment_type='V').segment_usage_matrix

In [34]:
trbj_matrix = NormalizedSegmentUsageTable.load_from_repertoire_dataset(
    resampled_dataset, gene='TRB', segment_type='J').segment_usage_matrix

In [35]:
trbj_matrix

,TRBJ2-1*01,TRBJ1-3*01,TRBJ2-6*01,TRBJ1-5*01,TRBJ1-6*01,TRBJ1-1*01,TRBJ2-5*01,TRBJ2-4*01,TRBJ1-4*01,TRBJ2-3*01,TRBJ1-2*01,TRBJ2-7*01,TRBJ2-2P*01,TRBJ2-2*01
0,0.116748,0.043299,0.018045,0.090542,0.054407,0.148848,0.083333,0.013919,0.050644,0.100290,0.117746,0.095394,0.000000,0.066785
1,0.180040,0.034944,0.021858,0.071757,0.037532,0.111447,0.099511,0.018407,0.039402,0.126833,0.091746,0.088295,0.000000,0.078228
2,0.152109,0.031283,0.019707,0.071080,0.044294,0.115661,0.097675,0.015307,0.041519,0.110016,0.111260,0.121879,0.000000,0.068210
3,0.141896,0.034816,0.023991,0.076653,0.043300,0.113517,0.091867,0.023113,0.039789,0.129901,0.114687,0.093329,0.000000,0.073142
4,0.153048,0.037046,0.019877,0.074229,0.042187,0.129682,0.089974,0.014781,0.044069,0.110540,0.115360,0.096768,0.000046,0.072393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.153537,0.036428,0.016931,0.085027,0.048309,0.126671,0.099681,0.019125,0.044294,0.116405,0.095624,0.084903,0.000000,0.073064
96,0.174786,0.027598,0.021953,0.073594,0.037215,0.111645,0.116454,0.020698,0.035961,0.134644,0.096592,0.059795,0.000000,0.089065
97,0.097207,0.047064,0.022652,0.092039,0.049263,0.195514,0.017924,0.001539,0.052892,0.032989,0.175830,0.183528,0.000000,0.031559
98,0.175528,0.032560,0.024073,0.080966,0.033512,0.111188,0.090059,0.018012,0.040873,0.122012,0.088067,0.105559,0.000087,0.077503
99,0.073020,0.043454,0.033822,0.098555,0.045358,0.156680,0.011535,0.003136,0.062941,0.019151,0.119162,0.312017,0.000000,0.021167